@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

*{
    font-family: "Outfit", sans-serif;
    margin: 0;
    width: auto;
}

header {

    display: flex;
    background-color: rgb(255, 196, 1);
    flex-direction: column;
    align-items: center;
    height: 5rem;
    margin-bottom: 5rem;

}

body {
    background-color: rgb(255, 236, 184);
}

.galeriaPrincipal {

    display: flex;
    flex-direction: column;
    background-color: #ffe7a5;
    border: 3px dashed #ff9900;
    border-radius: 2rem;
    height: 900px;
    width: 55rem;
    margin-left: 1.5rem;
    text-align: center;

}

.galeriaFavoritos {

    display: flex;
    flex-direction: column;
    background-color: #ffe7a5;
    border: 3px dashed #ff9900;
    height: 900px;
    width: 55rem;
    margin-left: 5rem;
    text-align: center;
    border-radius: 2rem;

}

.galeriaTotal {

    display: flex;
  
}

h1 {
    font-size: 30px;
    padding-top: 1.2rem;
    color: rgb(54, 26, 26);
}

.organiza {

    display: flex;
    flex-direction: row;
    margin: 5rem;
}

.foto {

    border-radius: 20px;
    height: 10rem;
    width: 20rem;
    margin: 1.2rem;

}

.draggable {

    cursor: move;
    border-radius: 20px;
    height: 10rem;
    width: 20rem;
    margin: 1.2rem;

}

.dropzone {

    display: grid;
    height: 900px;
    width: 55rem;
    grid-template-columns: 1fr 1fr;
    margin-left: 1.2rem;
}


.over {

    background-color: #ccc;
}
